.gradle/
build/
*.class
*.jar
*.log
.vscode/
.idea/
*.iml
out/
run/
versions/
/amethyst_shard.png
/copper_ingot.png
/diamond.png
/emerald.png
/gold_ingot.png
/iron_ingot.png
/netherite_ingot.png
/redstone.png
/tp_wand.png
/wallet.png
/hardcore_heart.png
